{% extends "layout.html" %}

{% block content %}
  <div>
    <h2>Collected web resources</h2>
  </div>
  <h3>Nodes :</h3>

  <dl>
      {% for keynode, node in web_servers.iteritems() %}
        {% for keyvalue, value in node.iteritems() %}
            {% for index in value %}
                <dd>{{ keynode }} : {{ value[index]['label'] }} ({{ value[index]['help'] }}) </dd>
            {% endfor %}
        {% endfor %}
      {% endfor %}
  </dl>

  <h3>Resources :</h3>

  <dl>
      {% for keynode, node in web_resources.iteritems() %}
        {% for keyvalue, value in node.iteritems() %}
            {% for index in value %}
                <dd>{{ keynode }} : <a href="proxy/{{ value[index]['data'] }}">{{ value[index]['label'] }} ({{ value[index]['help'] }})</a> </dd>
            {% endfor %}
        {% endfor %}
      {% endfor %}
  </dl>
{% endblock %}

